<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doces</ion-title>
    <ion-icon name="logo-npm" class="ion-margin-end" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <h1> OVO DE PÁSCOA COM BRIGADEIRO DE COLHER </h1>

  <img src="../../../assets/doces/ovo-de-pascoa-de-colher-brigadeiro-350g-chocolate.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  30 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  1 PORÇÃO </p>
  
  
  <h2>INGREDIENTES</h2> 
<p> °   500 g de chocolate hidrogenado (se souber trabalhar chocolate use coberturas de melhor qualidade)
</p>
<p> ° 400 g de leite condensado </p>
<p> °  50 g de chocolate ao leite </p>
<p> ° 50 g de chocolate meio amargo </p>
<p> ° 1 colher de chocolate em pó </p>
<p> ° 1 colher de manteiga</p>
<p> ° 1/2 lata de creme de leite</p>
<p> ° chocolate granulado ou raspas de chocolate para enfeitar </p>
  
 <h2>MODO DE PREPARO </h2>
<p> Derreta o chocolate em banho-maria ou em micro-ondas na potência média.</p>
<p> Coloque em uma forma para ovo de 500 g, ou em várias fôrmas menores.</p>
<p> Leve para a geladeira (não no freezer) e deixe até que o fundo da fôrma fique esbranquiçado.</p>
<p> Leve ao fogo o leite condensado com os chocolates, chocolate em pó e manteiga.</p>
<P> Mexa até o ponto de brigadeiro mole.</P>
<p> Deixe esfriar e recheie as cascas dos ovos.</p> 
<p> Cubra com chocolate granulado ou chocolate ralado para enfeitar.</p> 
</ion-card>

<ion-card>

<h1> BOMBOM NA TRAVESSA </h1>

  <img src="../../../assets/doces/bombom-na-travessa.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  35 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  10 PORÇÃO </p>
  
  
  <h2>INGREDIENTES</h2> 
<p> ° 250 g de chocolate ao leite</p>
<p> ° 250 g de chocolate meio amargo</p>
<p> ° 2 latas de leite condensado</p>
<p> ° 2 latas de creme de leite</p>
<p> ° 2 colheres de margarina</p>
<p> ° 2 caixas de morango</p>
<p> ° Chocolate granulado ou raspas de chocolate para enfeitar </p>
  
 <h2>MODO DE PREPARO </h2>
<p>Coloque as latas de leite condensado em uma panela com a manteiga e faça uma massa como um brigadeiro mole</p>
<p> Coloque em uma travessa e, por cima deste brigadeiro mole, coloque os morangos cortados ao meio.</p>
<p> Reserve para fazer a cobertura.</p>
<p> Para fazer a cobertura, rale o chocolate ao leite e o meio amargo e misture ao creme de leite.</p>
<P> Misture e coloque no micro-ondas durante 1 minuto.</P>
<p> Retire e mexa.</p> 
<p> Coloque de novo no micro-ondas por mais 1 minuto.</p> 
<p>Despeje a cobertura por cima dos morangos e leve à geladeira coberta por papel-filme.</p>

</ion-card>

<ion-card>
<h1> PAVÊ DE BAUNILHA COM LIMÃO </h1>

  <img src="../../../assets/doces/pave.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  60 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  16 PORÇÃO </p>
  
  
  <h2>INGREDIENTES</h2> 
  <h3><b>Creme de Baunilha</b></h3>
<p> ° 1 latas de leite condensado</p>
<p> ° 1 latas de creme de leite</p>
<p> ° 2 colheres de margarina</p>
<p> ° 3 gemas</p>
<p> ° 2 latas de leite integral (use a mesma lata como medida)</p>
<p> ° 1 colher (sopa) de amido de milho dissolvido em 1/2 xícara de leite </p>
<p> ° 2 colheres (sopa) de essência de baunilha</p>  

<h3><b>Ganache</b></h3>
<p> ° 400 g de chocolate meio-amargo ou blend</p>
<p> ° 400 g de creme de leite</p>

<h3><b>Pavê</b></h3>
<p> ° 400 g de bolacha maizena</p>
<p> ° 1 xícara de leite</p>
<p> ° 2 colheres (sopa) de chocolate em pó ou achocolatado</p>
<p> ° 100 g de chocolate branco (para decorar, opcional)</p>

 <h2>MODO DE PREPARO </h2>
 <h3><b>Baunilha</b></h3>
<p>Junte todos os ingredientes, exceto o creme de leite.</p>
<p>Leve ao fogo médio, mexendo sempre - é importante mexer durante todo o processo de cozimento para não empelotar.</p>
<p>Quando aparecer o fundo da panela, desligue o fogo, junte o creme de leite e mexa mais um pouco, até incorporar.</p>
<p> Deixe na panela para amornar. Não precisa colocar filme plástico em cima, se formar película é só mexer bem antes de usar.</p>
<P> Para que o creme não fique com cheiro de ovo, sugiro que as gemas sejam passadas pela peneira - fure-as e deixe que "escoreguem" para dentro da panela, vai sobrar apenas a película, que deve ser descartada.</P>


<h3><b>Ganache</b></h3>
<p> Derreta o chocolate em banho-maria ou no micro-ondas, junte o creme de leite e mexa bem até obter um creme lisinho e brilhante.</p> 
<p> Se escolher o banho-maria, tome cuidado para não pingar água no chocolate.</p> 
<p>Despeje a cobertura por cima dos morangos e leve à geladeira coberta por papel-filme.</p>
<p>No micro-ondas, ajuste a potência média e derreta de minuto em minuto - não deixe em potência alta para não correr o risco de queimar o chocolate.</p>
<p>O meio-amargo combina perfeitamente com a doçura do creme de baunilha. Se não gosta do meio-amargo, escolha um blend, pois o chocolate ao leite pode deixar a sobremesa doce demais.</p>
<p>Ao preparar ganache, use sempre chocolate e creme de leite na mesma proporção - não tem como errar.</p>
<p>E, finalmente, ganache pode ser conservada na geladeira, em pote de vidro bem fechado, por até um mês. É só deixar em temperatura ambiente uma hora antes e mexer muito bem na hora de usar, para que volte a ser um creme liso e brilhante. Se mesmo mexendo a ganache ficar espessa, esquente um pouco de creme de leite, junte ao chocolate e volte a mexer.</p>


<h3><b>MONTAGEM DO PAVÊ:</b></h3>
<p>Misture o leite e o chocolate para molhar as bolachas.</p>
<p>Alterne camadas na seguinte ordem: creme de baunilha, bolacha, ganache, creme de baunilha, bolacha, ganache, creme de baunilha, bolacha, creme de baunilha e ganache.</p>
<p>Note que na última etapa não tem camada de bolacha — assim o topo do pavê fica mais "molhadinho".</p>
<p>Com a faca, quebre o chocolate branco grosseiramente e coloque por cima. Leve à geladeira e sirva no dia seguinte. Para servir, separe com uma faca e retire com espátula de bolo. Fica bonito no prato. Rende uma travessa de vidro retangular de tamanho aproximado 30x18x5 cm.</p>
</ion-card>

</ion-content>
