<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receitas Salgadas</ion-title>
    <img src="../../../assets/logo-removebg-preview.png" class="ion-margin-end" slot="end" class="logo"
    stylesheet="width:5px;">
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="batata">
    <h3> Batatas </h3>
  </ion-card>
  <ion-card>
  <h1>  BATATA RECHEADA NO FORNO  </h1>

  <img src="../../../assets/salgadas/Batata-recheada.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  30 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  2 á 3 PORÇÕES </p>
  
  
  <h2>INGREDIENTES</h2> 
<p> ° 2 batatas médias cozidas </p>
<p> ° sal a gosto </p>
<p> ° pimenta-do-reino a gosto </p>
<p> ° 1 ovo </p>
<p> ° 180 g de queijo mussarela </p>
<p> ° bacon frito a gosto</p>
<p> ° 1/2 lata de creme de leite</p>
<p> ° cebolinha a gosto </p>
  
 <h2>MODO DE PREPARO </h2>
  <p>Retire a polpa das duas batatas cozidas, deixando uma cavidade em cada uma, reserve.</p>
  
  <p>Em um recipiente, misture as polpas da batata com sal, pimenta, ovo, queijo mussarela, bacon frito e creme de leite, misture bem. </p>
  
<p>Em um tabuleiro, coloque as duas batatas e distribua em cada cavidade um pouco de queijo mussarela, a mistura das polpas, bacon frito, mais um pouco de queijo mussarela por cima, bacon e finalize com cebolinha picada a gosto.</p>
  
<p> Leve ao forno (230° C), por cerca de 20 minutos.</p>
  </ion-card>

  <ion-card>
    <h1> ESCONDIDINHOS DE CARNE SECA </h1>
  
    <img src="../../../assets/salgadas/escondidinho.jpg">
    <p><ion-icon name="alarm-outline">Preparo</ion-icon>
    60 MIN
    <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
    6 Á 7 PORÇÕES </p>
    
    
    <h2>INGREDIENTES</h2> 
  <p> ° 1 kg de batata cozidas </p>
  <p> ° 1/2 kg de carne seca </p>
  <p> ° 2 colheres de manteiga ou margarina </p>
  <p> ° Alho à vontade </p>
  <p> ° 2 tomates picados </p>
  <p> ° Tempero a gosto ou pimenta</p>
  <p> ° 1 lata de creme de leite</p>
  <p> ° Queijo ralado </p>
    
  <h2>MODO DE PREAPARO</h2>
  <P> </P>

  <h2>MASSA</h2>
<P>Prepare um purê, acrescente o creme de leite e as 2 colheres de manteiga, reserve. </P>
<P>Se quiser colocar sal vai da preferência. </P>

<h2>RECHEIO</h2>
<p>Dessalgar a carne seca, depois de fria desfiar, leve ao fogo com azeite para refogar o alho e a cebola.</p>
<p>Coloque a carne seca para dar uma fritadinha, coloque os tomates e deixe amolecer.</p>

<h2>MONTAGEM</h2>
<p>Passe azeite no refratário, cubra o fundo com uma camada do purê coloque o recheio e complete com o restante por cima, jogue queijo ralado e leve ao forno para dourar.</p>
<p>Servir com arroz.</p>
    </ion-card>


  <ion-card class="mar">
    <h3> Frutos do Mar </h3>
  </ion-card>

  <ion-card>
<h1> MOQUECA DE CAMARÃO</h1>
<img src="../../../assets/salgadas/moqueca-de-camarao.jpg">

<p>
 <ion-icon name="alarm-outline">Preparo</ion-icon>
20 MIN
<ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
2 PORÇÕES
</p>

 <h2>INGREDIENTES</h2> 
<p>° 1/2 kg de camarão médio </p>
<p>° Suco de 1 limão </p>
<p>° 1/2 xícara de café de azeite de dendê </p>
<p>° 2 cebolas médias cortadas em rodelas </p>
<p>° 1/2 xícara de chá de coentro</p>
<p>° 1/2 xícara de chá de salsinha picada</p>
<p>° 2 cebolinhas verdes cortadas</p>
<p>° 3 tomates cortados em rodelas</p>
<p>° Sal a gosto </p>
<p>° 1 vidro de leite de coco </p>

<h2>MODO DE PREPARO </h2>
<p>Limpar os camarões e temperar com sal e o suco de limão.</p>

<p>Reserve.</p>

<p>Refogue todos os temperos por 15 minutos no azeite-de-dendê.</p>

<p>Acrescente os camarões e cozinhe por 5 minutos com a panela tampada.</p>

<p>Por último, acrescente o leite de coco.</p>

<p>Sirva com arroz branco. </p>

<p>INFORMAÇÕES ADICIONAIS
Obs: você pode adicionar 1 xícara de caldo de camarão para incrementar ainda mais seu prato! </p>
</ion-card>

<ion-card>
  <h1> SALMÃO AO MOLHO MARACUJÁ</h1>
  <img src="../../../assets/salgadas/salmao.jpg">
  <p>
   <ion-icon name="alarm-outline">Preparo</ion-icon>
  35 MIN
  <ion-icon name="pie-chart-outline">Rendimento </ion-icon>
  4 á 5 PORÇÕES
  </p>

  <h2>INGREDIENTES</h2> 
  <p>° 600g de salmão em postas. </p>
  <p>° Sal e pimenta-do-reino a gosto. </p>
  <p>° Manteiga para untar. </p>
  <p>° Polpa de 1 maracujá maduro com as sementes. </p>
  <p>° 1/2 xícara de chá de suco de maracujá concentrado.</p>
  <p>° 1 colher de chá de açúcar.</p>
  <p>° 3 colheres (sopa) de manteiga gelada em pedacinhos.</p>
  <p>° Sal a gosto </p>
  

  <h2> Modo de preparo</h2> 

<p>Tempere as postas de salmão com sal e pimenta-do-reino.</p>
<p>Embrulhe uma a uma em papel-alumínio untado com manteiga.</p>
<p> Arrume os “pacotes” em assadeira e leve ao forno médio preaquecido (200 ºC) por 20 minutos.</p>
<p> Abra os pacotes com cuidado e deixe o peixe no forno até dourar ligeiramente.</p>
<p> Enquanto isso, prepare o molho: leve a polpa e o suco de maracujá com o açúcar e sal a gosto ao fogo alto até começar a ferver.
<p> Reduza o fogo e cozinhe por 4 minutos.</p>
<p> Fora do fogo, adicione aos poucos a manteiga gelada, misturando sem parar até encorpar.</p>
<p> Retire o peixe do forno, descarte o papel-alumínio e disponha as postas em uma travessa ou em pratos individuais.</p>
<p> Regue com o molho e sirva com legumes cozidos no vapor ou com frutas grelhadas.</p>
<p>Sirva com arroz branco ou de brocólis.</p>

</ion-card>

<ion-card class="massas">
  <h3> MASSAS </h3>
</ion-card>

<ion-card>
<h1>LASANHA</h1>
<img src="../../../assets/salgadas/lasanha.jpg">

<p>
 <ion-icon name="alarm-outline">Preparo</ion-icon>
90 MIN
<ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
12 PORÇÕES
</p>


<h2>INGREDIENTES</h2>
<p>° 500 g de massa para lasanha </p>
<p>° Molho Bolonhesa </p>
<p>° 2 colheres (sopa) de óleo </p>
<p>° 500 g de carne moída </p>
<p>° 1 cebola pequena picada </p>
<p>° 1 cenoura ralada no ralo fino </p>
<p>° meia xícara (chá) de salsão picado </p>
<p>° 1 lata de polpa de tomate </p>
<p>° 2 tabletes de MAGGI® Caldo Carne </p>
<p>° 1 xícara (chá) de água quente</p>

<p>° Molho Branco </p>
<p>° 2 colheres (sopa) de manteiga </p>    
<p>° 2 e meia colheres (sopa) de farinha de trigo </p>
<p>° 500 ml de Leite Líquido NINHO Forti+ Integral </p>
<p>° 1 pitada de noz-moscada </p>
<p>° 1 pitada de sal</p>
<p>° 1 pitada de pimenta-do-reino </p>
<p>° 1 caixinha de NESTLÉ® Creme de Leite </p>
  
  
  <h2>Montagem</h2>
<p>  250 g de queijo mozarela fatiado </p>
<p> 2 colheres (sopa) de queijo parmesão ralado</p>

<h2> Modo de preparo</h2> 
<p>Lasanha
Cozinhe a massa de acordo com as instruções da embalagem e coloque em um recipiente com água fria até o momento de montar. </p>

<p>Molho Bolonhesa
Em uma panela, aqueça o óleo e refogue a carne. Junte a cebola, a cenoura, o salsão e deixe refogar até murchar.</p>

<p>Acrescente a polpa de tomate e o tablete de MAGGI Caldo, dissolvido em na água quente. </p>

<p>Deixe cozinhar por cerca de 10 minutos, ou até apurar o molho. Reserve.</p>

<p>° Molho Branco </p>
<p>Em uma panela, derreta a manteiga, junte a farinha de trigo e deixe dourar.</p>

<p>Aos poucos junte o Leite NINHO, mexendo sempre para não formar grumos. Acrescente a noz moscada, o sal, e a pimenta-do-reino.</p>

<p>Quando adquirir consistência cremosa, retire do fogo, acrescente o NESTLÉ Creme de Leite, misture bem e reserve.</p>

<p>Montagem</p>
<p>Em um recipiente refratário (20 x 30 cm), coloque uma porção de molho bolonhesa; cubra com uma camada de massa, e uma porção de molho branco e coloque o queijo mozarela. Repita as camadas até a borda do recipiente.</p>

<p>Finalize com o queijo parmesão ralado e leve ao forno alto (220°C), preaquecido, por cerca de 20 minutos ou até dourar. Sirva. </p>
</ion-card>

<ion-card>
  <h1>MACARRÃO DE PANELA DE PRESSÃO </h1>
  <img src="../../../assets/salgadas/macarrao.jpg">
  
  <p>
   <ion-icon name="alarm-outline">Preparo</ion-icon>
  20 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  5 PORÇÕES
  </p>
  
  
  <h2>INGREDIENTES</h2>
  <p>° 1 pacote de macarrão parafuso </p>
  <p>° 1 cebola pequena picada </p>
  <p>° 4 dentes de alho picados </p>
  <p>° 1 lata de milho </p>
  <p>° 100 g de presunto picados  </p>
  <p>° 160 g de azeitona</p>
  <p>° 1 lata de molho de tomate</p>
  <p>° 1 caixa de creme de leite </p>
  <p>° 600 ml de água quente  </p>
  <p>° 2 folhas de louro</p>
  <p>° 100 g de queijo mussarela picado</p>
  <p>° sal a gosto  </p>
  <p>° pimenta-do-reino a gosto</p>
  <p>° 1 fio de azeite</p>

  <h2> Modo de preparo</h2> 

  <P>Em uma panela de pressão, aqueça 1 fio de azeite e refogue a cebola e o alho picado.</P>
  <P>Adicione o milho, o presunto, a azeitona, o molho de tomate, o creme de leite e a água quente.</P>
  <p>Mexa bem.</p>
  <p>Adicione as folhas de louro, o macarrão e o queijo.</p>
  <p>Tempere com sal e pimenta-do-reino a gosto.</p>
  <p>Feche a panela e deixe na pressão por 10 minutos.</p>
  <p>Finalize com queijo parmesão e decore com salsinha.</p>

</ion-card>


</ion-content>
