<ion-header>
  <ion-toolbar>
    <ion-title>Receitas Salgadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>  BATATA RECHEADA NO FORNO    </h1>

  <img src="../../../assets/salgadas/Batata-recheada.jpg">
  <ion-icon name="alarm-outline">Preparo</ion-icon>
  30 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  2 á 3 PORÇÕES
  
  
  <h2>INGREDIENTES</h2> 
 <p> 2 batatas médias cozidas
  sal a gosto
  pimenta-do-reino a gosto
  1 ovo
  180 g de queijo mussarela
  bacon frito a gosto
  1/2 lata de creme de leite
  cebolinha a gosto </p>
  
 <h2>MODO DE PREPARO </h2>
  <p>Retire a polpa das duas batatas cozidas, deixando uma cavidade em cada uma, reserve.
  
  Em um recipiente, misture as polpas da batata com sal, pimenta, ovo, queijo mussarela, bacon frito e creme de leite, misture bem.
  
  Em um tabuleiro, coloque as duas batatas e distribua em cada cavidade um pouco de queijo mussarela, a mistura das polpas, bacon frito, mais um pouco de queijo mussarela por cima, bacon e finalize com cebolinha picada a gosto.
  
  Leve ao forno (230° C), por cerca de 20 minutos.</p>


<h1> MOQUECA DE CAMARÃO</h1>
<img src="../../../assets/salgadas/moqueca-de-camarao.jpg">

 <ion-icon name="alarm-outline">Preparo</ion-icon>
20 MIN
<ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
2 PORÇÕES

 <h2>INGREDIENTES</h2> 
<p>1/2 kg de camarão médio
Suco de 1 limão
1/2 xícara de café de azeite de dendê
2 cebolas médias cortadas em rodelas
1/2 xícara de chá de coentro
1/2 xícara de chá de salsinha picada
2 cebolinhas verdes cortadas
3 tomates cortados em rodelas
Sal a gosto
1 vidro de leite de coco
</p>

<h2>MODO DE PREPARO </h2>
<p>Limpar os camarões e temperar com sal e o suco de limão.

Reserve.

Refogue todos os temperos por 15 minutos no azeite-de-dendê.

Acrescente os camarões e cozinhe por 5 minutos com a panela tampada.

Por último, acrescente o leite de coco.

Sirva com arroz branco. </p>

<p>INFORMAÇÕES ADICIONAIS
Obs: você pode adicionar 1 xícara de caldo de camarão para incrementar ainda mais seu prato! </p>

<h1>LASANHA</h1>

<h2>INGREDIENTES</h2>
<p>  500 g de massa para lasanha
  Molho Bolonhesa
  2 colheres (sopa) de óleo
  500 g de carne moída
  1 cebola pequena picada
  1 cenoura ralada no ralo fino
  meia xícara (chá) de salsão picado
  1 lata de polpa de tomate
  2 tabletes de MAGGI® Caldo Carne
  1 xícara (chá) de água quente

  Molho Branco
  2 colheres (sopa) de manteiga
  2 e meia colheres (sopa) de farinha de trigo
  500 ml de Leite Líquido NINHO Forti+ Integral
  1 pitada de noz-moscada
  1 pitada de sal
  1 pitada de pimenta-do-reino
  1 caixinha de NESTLÉ® Creme de Leite
  Montagem
  250 g de queijo mozarela fatiado
  2 colheres (sopa) de queijo parmesão ralado</p>

<h2> Modo de preparo</h2> 
<p>Lasanha
Cozinhe a massa de acordo com as instruções da embalagem e coloque em um recipiente com água fria até o momento de montar.

Molho Bolonhesa
Em uma panela, aqueça o óleo e refogue a carne. Junte a cebola, a cenoura, o salsão e deixe refogar até murchar.

Acrescente a polpa de tomate e o tablete de MAGGI Caldo, dissolvido em na água quente.

Deixe cozinhar por cerca de 10 minutos, ou até apurar o molho. Reserve.

Molho Branco
Em uma panela, derreta a manteiga, junte a farinha de trigo e deixe dourar.

Aos poucos junte o Leite NINHO, mexendo sempre para não formar grumos. Acrescente a noz moscada, o sal, e a pimenta-do-reino.

Quando adquirir consistência cremosa, retire do fogo, acrescente o NESTLÉ Creme de Leite, misture bem e reserve.

Montagem
Em um recipiente refratário (20 x 30 cm), coloque uma porção de molho bolonhesa; cubra com uma camada de massa, e uma porção de molho branco e coloque o queijo mozarela. Repita as camadas até a borda do recipiente.

Finalize com o queijo parmesão ralado e leve ao forno alto (220°C), preaquecido, por cerca de 20 minutos ou até dourar. Sirva. </p>
</ion-content>
