<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bebidas</ion-title>
    <ion-icon name="logo-npm" class="ion-margin-end" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1> PINA COLADA </h1>

  <img src="../../../assets/bebidas/pinacolada.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  20 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  1 Litro </p>
  
  
  <h2>INGREDIENTES</h2> 
<p> ° 1 e 1/2 doses de rum</p>
<p> ° 3 doses de suco de abacaxi</p>
<p> ° 1 dose leite de coco</p>
<p> ° 1 dose leite condensado</p>
<p> ° 6 pedras de gelo </p>
  
<h2>MODO DE PREPARO </h2>
<p>Coloque os ingredientes em ordem em uma coqueteleira.</p>
<p>Bata por aproximadamente 10 segundos.</p>
<p>Enfeite um copo com calda de chocolate e um pedaço pequeno de abacaxi.</p>
<p>Por cima coloque coco ralado.</p>
  </ion-card>

  <ion-card>
<h1> CAIPIRINHA </h1>

  <img src="../../../assets/bebidas/caipirinha.jpg">
  <p><ion-icon name="alarm-outline">Preparo</ion-icon>
  10 MIN
  <ion-icon name="pie-chart-outline">RENDIMENTO </ion-icon>
  1 Copo </p>
  
  
  <h2>INGREDIENTES</h2> 
<p> ° 80mL de cachaça.</p>
<p> ° ¾ de limão taiti em fatias bem finas.</p>
<p> ° Gelo e açúcar a gosto.</p>
<p> ° Fatias de limão para decorar.</p>
  
<h2>MODO DE PREPARO </h2>
<p>Coloque, em um copo, o limão e o açúcar e macere para extrair o máximo possível de líquido da fruta. Adicione gelo em cubos e misture bem. Finalize com as fatias de limão.</p>
  </ion-card>

</ion-content>
