<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página inicial</ion-title>
    <img src="../../../assets/logo-removebg-preview.png" class="ion-margin-end" slot="end" class="logo">
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../../assets/imghome.jpg">
<p>Seja bem vindo ao aplicativo, temos diversas receitas, entre doces e salgadas para que você aproveite !</p>
<ion-button expand="block" fill="outline" shape="round" href="/doces">Ver receitas doces</ion-button>
<ion-button expand="block" fill="outline" shape="round" href="/salgadas">Ver receitas salgadas</ion-button>
<ion-button expand="block" fill="outline" shape="round" href="/bebidas">Ver bebidas</ion-button>
<ion-button expand="block" fill="outline" shape="round" href="/dicas">Ver dicas</ion-button>

</ion-content>
