<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dicas</ion-title>
    <img src="../../../assets/logo-removebg-preview.png" class="ion-margin-end" slot="end" class="logo">

  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Dicas de Culinária</h1>
  <ion-item-divider></ion-item-divider>
  <p>1) Por serem muito porosas, as tábuas de madeira ou de plástico podem acumular resíduos de alimentos, mesmo sendo lavadas com produtos próprios. Prefira as tábuas de vidro.  </p>
  <ion-item-divider></ion-item-divider>
  <p>2) Para dessalgar bacalhau, coloque as postas, pedaços ou lascas em uma tigela, cubra com água e deixe de molho na geladeira por 24 horas. Troque a água 3 ou 4 vezes nesse período.
  </p>
  <ion-item-divider></ion-item-divider>
  <p>3) Quanto mais lisa a casca do limão e da laranja, mais suco eles terão. Por isso, evite comprar limões e laranjas com a casca muito rugosa.</p>
  <p>4) Antes de descascar, deixe os dentes de alho de molho em água durante dez minutos. As cascas se soltam facilmente.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>5) O iogurte natural pode ser uma alternativa saudável em qualquer receita em substituição ao creme de leite.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>6) Para evitar que o extrato de tomate embolore depois de aberto, retire da lata e guarde em um potinho ou copo de vidro. Despeje por cima um pouco de óleo e conserve na geladeira.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>7) Dê uma superfície mais crocante aos pratos gratinados misturando um pouco de farinha de rosca ao queijo parmesão ralado que normalmente é utilizado.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>8) Para conservar a salsinha sempre verde e fresca por até três semanas, lave, escorra bem, coloque em um vidro com tampa e guarde na geladeira.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>9) Para saber se a massa do macarrão está cozida al dente, prove e verifique se está macia, porém firme. O centro não pode estar duro e com sabor de massa crua.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>10) Obtenha um alho mais saboroso: descasque o dente, corte-o ao meio no sentido do comprimento e elimine o miolo esverdeado.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>11) Se errar no sal na hora de temperar purê de batatas, adicione um pouco de creme de leite à preparação e misture.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>12) Para retirar a pele do amendoim, coloque em uma fôrma e leve ao forno médio (180º C) por 15 minutos. Retire do forno, deixe esfriar e esfregue com a palma das mãos até retirar toda a casca.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>13) Para o caldo do feijão ficar mais grosso, retire alguns grãos, amasse com um garfo e volte para a panela, mexendo até obter o ponto desejado para o caldo.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>14) Ao picar ou ralar chocolate, segure a barra com papel-alumínio para que ele não derreta com o calor das mãos. Para obter raspas pequenas, use chocolate gelado.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>15) Para conseguir um arroz mais branco e soltinho, pingue algumas gotas de suco de limão na água do cozimento.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>16) Ao preparar caldas, substitua o açúcar refinado pelo cristal, pois ele derrete mais rápido, fica mais fino e não escurece tanto quanto o refinado.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>17) Ao fazer musse de liquidificador, quanto mais tempo bater, mais aerada ela vai ficar.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>18) Para retirar o soro do creme de leite, deixe a lata na geladeira por 1 hora. Em seguida, faça um pequeno furo no fundo da lata e escorra o líquido.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>19) Quando usar banana ou maçã em suas receitas, evite que elas escureçam depois de picadas, deixando em uma mistura de um pouco de água com suco de limão por 5 minutos.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>20) Para os morangos se manterem firmes e limpos, coloque-os, sem tirar os cabinhos, em uma solução de água e vinagre antes de usá-los. Seque-os e guarde na geladeira.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>21) Para saber se um ovo está bom, coloque-o em um copo com água. Se ele afundar, está próprio para o consumo.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>22) Nunca adicione água fria ao cozimento de arroz, feijão e legumes, pois isso para o processo de cocção. Use água quente.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>23) Exagerou no sal do molho? Coloque uma fatia de pão francês ou uma batata descascada na panela antes de terminar o cozimento.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>24) Diminua a acidez do molho de tomate acrescentando uma pitada de açúcar no fim do cozimento.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>25) Peneire os ingredientes secos de bolos e tortas para conseguir uma massa mais fofinha.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>26) Se a farinha do molho branco empelotar, espere esfriar e bata no liquidificador. Volte à panela e cozinhe até aquecer.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>27) Ao preparar carne de porco, adicione uma colher (sopa) de açúcar ao óleo da fritura para que ela fique douradinha.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>28) Quando fritar bifes de carne ou frango, não espete-os com o garfo, pois isso faz com que fiquem ressecados.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>29) Para que a carne moída não forme grumos durante o preparo, descongele-a até ficar em temperatura ambiente, antes de cozinhar.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>30) Quem não tem um rolo para abrir massas pode usar uma garrafa lisa, sem o rótulo e limpa.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>31) Adicione sal e tempero em pó à água de cozimento dos legumes para deixá-los mais saborosos.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>32) Coloque um pires virado de boca para baixo dentro da leiteira para o leite não derramar ao ser fervido.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>33) Se no trajeto do supermercado até a sua casa a alface murchar, deixe-a de molho em água com gelo para as folhas ficarem bonitas novamente.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>34) Quando as lâminas do liquidificador perderem o corte, bata cascas de ovo secas e limpas por alguns minutos para que elas fiquem amoladas.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>35) Para retirar a pele, faça cortes em x na base do tomate e coloque-o em água fervente por alguns segundos. A pele irá se soltar rapidamente.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>36) Para suas carnes ficarem mais suculentas, adicione sal apenas no final do preparo.

  </p>
  <ion-item-divider></ion-item-divider>
  <p>37) Para finalizar nossas dicas de culinária, descasque a cebola sob água corrente para evitar que seus olhos fiquem irritados.

  </p>
  


</ion-content>
